.jumbotron {
  padding-top: 6rem;
  background-color: #fcd0b5;
}

#sertificate {
  padding-top: 5rem;
  background-color: #fcd0b5;
}
#contact {
  padding-top: 5rem;
  background-color: #fcd0b5;
}

#gallery {
  padding-top: 5rem;
  background-color: #ffffff;
}

section {
  padding-top: 6rem;
}
